.enter-form__input {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  width: 100%;
  border: none;
  height: 27px;
  border-bottom: 1px solid white;
  color: white;
  background: transparent;
  margin-top: 30px;
  padding: 0;
  margin-top: 30px;
  border-radius: 2px;
}