.profile__pencil-button {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  background-image: url("../../../images/ico-pencil.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.profile__pencil-button:hover {
  opacity: 0.6;
  transition: opacity 0.2s linear;
}

@media screen and (max-width: 670px) {
  .profile__pencil-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-bottom: 8px;
    background-size: 45%;
  }  
}